.vertical-center {
    /* Fallback for browsers do NOT support vh unit */
    /* These two lines are counted as one :-)       */
    min-height: calc(100% - 56px);
    min-height: calc(100vh - 56px);

    display: flex;
    align-items: center;
}