.fill-screen { 
    min-height: calc(100% - 56px);
    min-height: calc(100vh - 56px);
    height: calc(100vh - 56px);
}

.vertical-center {
    min-height: calc(100% - 56px);
    min-height: calc(100vh - 56px);
    
    display: flex;
    align-items: center;
}